<head>
    <meta charset='utf-8' />
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/poke/anal_style.css">
    <script type="text/javascript" src="/static/js/poke/anal_main.js"></script>
</head>

<body>

    <div id="graphic"></div>

    <script>

    </script>
    <div class="ui one column stackable center aligned page grid">
    <div class="ui button" style="margin-top: 20px">
        Base Experience
    </div>
    <div class="ui button" tabindex="0">
        Weight
    </div>
    <div class="ui button">
        Height
    </div>
    </div>
</body>
