<head>
    <meta charset='utf-8' />
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/poke/anal_style.css">
    <script type="text/javascript" src="/static/js/poke/anal_main.js"></script>
</head>

<body>
    <div class="ui one column stackable center aligned page grid">
    <div class="ui button be_btn" style="margin-top: 7px;margin-bottom: 18px;">
        Base Experience
    </div>
    <div class="ui button wt_btn" >
        Weight
    </div>
    <div class="ui button ht_btn">
        Height
    </div>
    </div>
    
    <div id="graphic">
        <div class="ui segment" style="height:300px;">
            <div class="ui active dimmer">
            <div class="ui text loader">Loading</div>
            </div>
            <p></p>
        </div>
    </div>
    
    <div class="ui one column stackable center aligned page grid">
    <div class="ui buttons" style="margin-top: 19px;">
    <button class="ui labeled icon button left b_anal">
      <i class="left chevron icon"></i>
      Back
    </button>
    <button class="ui right labeled icon button f_anal">
      Forward
      <i class="right chevron icon"></i>
    </button>
    </div>
    </div>


   
</body>
