{% extends "poke/base.html" %}
{% load static %}

{% block main %}
<div class="Pokedex">
  



  <div class="ui one column stackable center aligned page grid">
      <div class="ui fourteen wide column horizontal list pokeDisp">
      {% for key,value in poke_dict.items %}
        <div class="item">
          <img class="ui avatar image sprite" src="/static/images/poke/{{key}}.png" style="display: block;" id="img_{{ key }}">
          <div class="content">
            <div class="header p_name">{{ value }}</div>
          </div>
        </div>
      {% endfor %}
      </div>
  </div>
<div class="ui one column stackable center aligned page grid">

  <div class="ui buttons">
    <button class="ui labeled icon button left">
      <i class="left chevron icon"></i>
      Back
    </button>
    <button class="ui right labeled icon button">
      Forward
      <i class="right chevron icon"></i>
    </button>
  </div>
</div>
<div class="preloadImage" style="display: none;"></div>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="">
    </div>
    <div class="description">
      <div class="ui header be"></div>
      <div class="ui header or"></div>
      <div class="ui header ht"></div>
      <div class="ui header wt"></div>
    </div>
  </div>
 
</div>
</div>
<script type="text/javascript">
  var index = "{{index}}"
  </script>

  <div class="analytics" style="display: none;">
    {% include "poke/analytics.html" %}
  </div>
{% endblock %}


