body {
    font-family: "Arial", sans-serif;
}
        
.bar {
    fill: #5f89ad;
}
        
.axis {
    font-size: 13px;
}
        
.axis path,
.axis line {
    fill: none;
    display: none;
}
        
.label {
    font-size: 13px;
}

#graphic {
    background-image: url("/static/images/poke/chart.jpg");
    border: solid black;
    border-radius: 17px;
    height: 90%;
    margin: 0 4px 0 4px;
}